burgerToggle {
  position: relative;
  padding: 10px 0;
  background-color: #f4f4f4;
  box-shadow: 3px 0 3px 0 #ccc;
  border-left: 1px solid #ccc;
}

.show > .dropdown-menu {
  display: block;
  position: absolute;
}

.MuiTypography-body1 {
  color: rgb(0, 0, 0);
}

.langs-list {
  margin: 0 2px;
  text-align: center;
  text-transform: capitalize;
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.group {
  height: 100% !important;
}
