.videoShow {
  // background-color: #eee;
  // height: 100vh;

  & > div:last-child {
    // padding-top: 4rem;
    display: flex;
    // width: 100%;
    height: calc(100vh - 66px);
    align-items: center;
    justify-content: center;
  }
}
