.backBtn {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 5rem;

  text-decoration: none !important;
  color: #000 !important;

  & > span {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
