* {
  outline: 0;
  direction: ltr;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11%;

  background-image: linear-gradient(
    to right top,
    #594b31,
    #50533c,
    #4a5a4b,
    #4d5e59,
    #566162
  );
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* border-radius: 5px;*/
  padding-left: 2px;
  padding-right: 2px;
  outline: none;
}

.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.cke_chrome {
  width: 432px !important;
}

.devTextContainer-player {
  height: 89%;
  overflow-y: hidden;
}

.divStyle {
  height: 480px;
  width: 500px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: "none";
}

.divStyle-Mo {
  height: 500px;
  width: 550px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: "none";
}
.btns-container button {
  margin: 2px 2px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 20%;
}

.title {
  height: 36px;
  color: white;
  background-color: #333;
  text-align-last: center;
  margin: 0px;
  margin-top: 3px;
}

#title-p {
  margin: 0px;
  font-size: 20px;
}
.devTextContainer-player div p {
  width: 96%;
  margin: 8px 10px;
  text-align: start;
  unicode-bidi: plaintext;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  direction: rtl;
  font-size: 18px;
}

h4 {
  text-align: center;
}

.show-p {
  text-align: center;
  padding: 6px;
  color: tomato;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
  width: 34%;
}
.MuiTypography-h6 {
  text-align: left;
}
.MuiDialogActions-root {
  margin-right: 15px;
  margin-bottom: 10px;
}
.up-arrow {
  width: 25%;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
  margin-top: 50px;
}

.up-arrow:before {
  content: "";
  display: block;
  position: absolute;
  left: 80%;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: black;
}

.up-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 80%;
  top: -17px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}
.dot {
  height: 15px;
  width: 15px;
  margin-left: 15px;
  background-color: rgb(238, 11, 11);
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 48%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
audio {
  height: 35px;
  margin-left: 2px;
  margin-right: 2px;
}
.ql-container.ql-snow {
  border: none;
  overflow: auto;
  height: 370px;
}

.ql-editor ol li {
  color: black;
  font-size: 17px;
}
.ql-editor ul li {
  color: black;
  font-size: 17px;
}
.ql-maximize {
  content: "\26F6";
  font-size: large;
  font-weight: bold;
  margin-left: 30px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}

*:fullscreen {
  background-color: white;
}
