@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.breadcrumbs {
  background-color: #000;
  color: #fff;
  padding: 1.6rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
